# Database Configuration
PG_HOST=your-neon-host-here
PG_DATABASE=your-database-name-here
PG_USER=your-database-username-here
PG_PASSWORD=your-database-password-here

# JWT Secret Key
JWT_SECRET_KEY=your-jwt-secret-key-here

# Secret Key Google recaptcha
GOOGLE_RECAPTCHA_SECRET_KEY=your-google-recaptcha-secret-key-here

# Email Configuration
EMAIL_HOST=your_email_host
EMAIL_PORT=your_email_port
EMAIL_USERNAME=your_email_username
EMAIL_APP_PASSWORD=your_email_app_password